<a href="https://colab.research.google.com/github/Muhammadrafy06/strutture-dati/blob/main/TupleEInsiemi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple1 = (0,1,2,3,4) #tuples readOnly 
print(tuple1)

(0, 1, 2, 3, 4)

In [ ]:
print(type("prova",))
pluto = [1,2,3,4,5]

tuple5 = tuple(pluto)

In [ ]:
#1
import random
lista1 = [random.randint(0,100) for i in range(20)]
tupla1 = tuple(lista1)
print(lista1)
print(tupla1)

[82, 25, 79, 54, 15, 58, 88, 28, 88, 21, 14, 34, 2, 39, 32, 28, 12, 75, 44, 50]
(82, 25, 79, 54, 15, 58, 88, 28, 88, 21, 14, 34, 2, 39, 32, 28, 12, 75, 44, 50)

In [ ]:
lista2 = list(tupla1)
lista2[0:0] = ["avasiloae", "bernasconi", "cottone"]
print(lista2)

['avasiloae', 'bernasconi', 'cottone', 82, 25, 79, 54, 15, 58, 88, 28, 88, 21, 14, 34, 2, 39, 32, 28, 12, 75, 44, 50]

In [ ]:
#le sets

insiemeNumerico = {1,2,3,4,5}
prova = {i for i in range(10)}

#true = 1 
#false = 0

In [ ]:
#update()

insieme6 = {"giorgia" , 78, 7}
insieme = {"poli", "loto", "simo" , 7}

#pop()
#set
insieme8 = set()
print(type(insieme8))

<class 'set'>

In [ ]:
del insieme8

In [ ]:
insieme = {1,4,5,6,7,10,1,4}
print(insieme)
#non si puo fare perch√® ci sono dei duplicati

In [ ]:
insieme2 = {"pizza", "pasta", "carne", "pesce"}

In [ ]:
insieme2.add("hamburger")
print(insieme2)

{'pasta', 'pizza', 'pesce', 'carne', 'hamburger'}

In [ ]:
insieme2.clear()

In [ ]:
#caricare in una lista 20 numeri casuali ed eliminare i duplicati
import random
lista14 = [random.randint(10,100) for i in range(20)]
print(lista14)
set1 = set(lista14)
print(set1)

listaSenzaDup = list(set1)
print(listaSenzaDup)

[37, 46, 73, 51, 53, 31, 86, 17, 16, 84, 79, 23, 38, 38, 17, 52, 44, 28, 23, 67]
{67, 37, 38, 73, 44, 46, 79, 16, 17, 51, 84, 53, 86, 23, 52, 28, 31}
[67, 37, 38, 73, 44, 46, 79, 16, 17, 51, 84, 53, 86, 23, 52, 28, 31]

In [ ]:
itaEng = {
    "scarpa":"shoe",
    "sciarpa":"scarf",
}

In [ ]:
lista1 = ["mela", "arancia", "banana"]

tupla1 = ("mela", "arancia", "banana")

tupla2 = ("mela")

In [ ]:
lista1.append("uva")
print(lista1)

In [ ]:
milella = {"banana", "kiwi", "arancia"}
avasiloae = {"pere", "uva", "kiwi"}

In [ ]:
fruttiComuni = milella.intersection(avasiloae)
tuttiFrutti = milella.union(avasiloae)
print(tuttiFrutti)

{'arancia', 'kiwi', 'banana', 'pere', 'uva'}

In [ ]:
fruttiMilella = milella.symmetric_difference(avasiloae)
print(tuttiFrutti)

{'arancia', 'kiwi', 'banana', 'pere', 'uva'}

In [ ]:
fruttiMilella = milella.difference(avasiloae)
print(tuttiFrutti)

{'arancia', 'kiwi', 'banana', 'pere', 'uva'}

In [ ]:
milella.add("fragole")
print(milella)

In [ ]:
frutta = {"uva", "mela", "uva", "uva", "mela", "kiwi", "mela"}

In [ ]:
fruttaInsieme = set(frutta)
print(fruttaInsieme)

{'uva', 'mela', 'kiwi'}

In [ ]:
fruttaLista = list(fruttaInsieme)
print(fruttaLista)

['uva', 'mela', 'kiwi']

In [ ]:
fruttaTupla = tuple(fruttaLista)
print(fruttaTupla)

('uva', 'mela', 'kiwi')

In [ ]:
fruttaTupla = list(set(frutta))
print(fruttaTupla)

In [ ]:
squadre = ["milan", "inter", "milan", "juve", "napoli", "napoli"]
squadreSenzaRipetizioni = list(set(squadre))
print(squadreSenzaRipetizioni)

['juve', 'milan', 'inter', 'napoli']

In [ ]:
studentiMilan = {"d'arienzo", "bernasconi", "geremicca"}
studentiInter = {"milella", "lotorto", "bernasconi"}

In [ ]:
studenti = studentiMilan.union(studentiInter)
print(studenti)

{'geremicca', "d'arienzo", 'lotorto', 'milella', 'bernasconi'}

In [ ]:
len(studenti)

In [ ]:
studentiDueSquadre = studentiMilan.intersection(studentiInter)
print(studentiDueSquadre)

{'bernasconi'}

In [ ]:
studentiNonMilan = studenti.difference(studentiMilan)

In [ ]:
carlo = {
    "genere":"maschio",
    "√®ta":15,
    "altezza":200,
}

In [ ]:
for key in carlo:
  print(carlo)


for key,value in carlo.items():
  print(key,value)

In [ ]:
fifa22 = {
    "svuluppo":"EA Sport",
    "genere":"calcio",
    "prezzo": "70‚Ç¨"
}

In [ ]:
fidanzata = carlo.get('fidanzata')

In [ ]:
muhammad = {
    "nome":"rafy",
    "cognome":"muhammad",
    "eta": 16,
     
}
print(muhammad)

In [ ]:
muhammad = ["altezza"] = 176
print(muhammad)

In [ ]:
len(muhammad.keys())#get number of keys in a specified dictionary

3

In [ ]:
keys = list(muhammad.keys())

In [ ]:
muhammad2 = muhammad.copy()

In [ ]:
muhammad2.clear()

In [ ]:
keys = {
    "batte","forte","sempre"
}
value= "comodino"
papes2.fromkeys(keys,value)

In [ ]:
for key in muhammad2:
  print(papes2[key])

0
1
2
3
4
5
6
7
8
9

In [ ]:
carlo = {
  "genere":"maschio",
  "et√†":15,
  "altezza":200
}

studenteg = carlo.items()
carlg.pop("genere")
print(studente1)

dict_items([('genere', 'mashio'), ('et√†', 15)])

si vogliono memorizzare le informazioni riguardanti alcune nazioni dell unione europea.
di ogni nazione si volgiono memorizzare il nome, la capitale, la superficie e la popolazione.
caricare le informazioni nella struttura dati ritenuta pi√π opportuna.
scrivere poi il codice per avere le seguenti informazioni:
1. dato il nome di una nazione tutte le sue informazioni
2. dato il nome di una capitale visualizzare la nazione a cui appartiene
3. visualizzare il nome della nazione pi√π estese
4. visualizzare la media delle popolazioni delle nazioni presenti

In [ ]:
nazioniEuropa = [

    {
      "nome":"italia",
      "capitale":"roma",
      "superficie":301000,
      "popolazione":60000000
    },

    {
      "nome":"francia",
      "capitale":"parigi",
      "superficie":4852345,
      "popolazione":45734907
    },

    {
      "nome":"germania",
      "capitale":"berlino",
      "superficie":2368397,
      "popolazione":5644466543
    },

    {
      "nome":"romania",
      "capitale":"Bucarest",
      "superficie":238397,
      "popolazione":19000000
    },
    {
      "nome":"portogallo",
      "capitale":"lisbona",
      "superficie":92212,
      "popolazione":10000000
    } 
    
]


print(nazioniEuropa)

[{'nome': 'italia', 'capitale': 'roma', 'superficie': 301000, 'popolazione': 60000000}, {'nome': 'francia', 'capitale': 'parigi', 'superficie': 4852345, 'popolazione': 45734907}, {'nome': 'germania', 'capitale': 'berlino', 'superficie': 2368397, 'popolazione': 5644466543}, {'nome': 'romania', 'capitale': 'Bucarest', 'superficie': 238397, 'popolazione': 19000000}, {'nome': 'portogallo', 'capitale': 'lisbona', 'superficie': 92212, 'popolazione': 10000000}]

In [ ]:
nazioniEuropa[2]["capitale"]

'Bucarest'

In [ ]:
for i in range(len(nazioniEuropa)):
  print(nazioniEuropa[i]["capitale"])

Roma
Roma
Bucarest
Bucarest
Bucarest

In [ ]:
for nazione in nazioniEuropa:
  print(nazione["capitale"])

Roma
Roma
Bucarest
Bucarest
Bucarest

In [ ]:
nazioneAKANazSelezionata = input("inserire il nome di una nazione: ")
for i in nazioniEuropa:
  if i["nome"] == nazioneAKANazSelezionata:
    print(i["capitale"])
    print(i["superficie"])
    print(i["popolazione"])
    print("hai inserito una nazione")
  elif i["capitale"] == nazioneAKANazSelezionata:
    print(i["nome"])
    print("hai inserito una capitale")

inserire il nome di una nazione: francia
parigi
4852345
45734907
hai inserito una nazione

In [ ]:
superfici = [nazioniEuropa[i]["superficie"] for i in range(len(nazioniEuropa))]


for i in nazioniEuropa:
  if max(superfici) == i["superficie"]:
    print(i["nome"])

francia

memorizzare in un opportuna struttura dati i nomi di 10 citt√† europee e in un altra struttura dati i nomi di 10 capitali.
scrivere poi il codice necessario per avere i nomi delle citt√† che sono anche capitali.